# ignore pyc files
*.pyc
# ignore the testfile
testtest.py
# ignore the html files
*.html
# ignore sauce_auth.py - don't want key public
sauce_auth.py
sauce_auth.pyc
# ignore results and log files
Results/*.html
log.xml
*.log
*.xml
# ignore temp file
subs.txt
curr_test.log
#ignore the sauce-auth file
sauce-auth.py
settings.py
.DS_Store
*~
webdriver_suite/*.png
selenium-server-standalone-*.jar
testsetup_local.py
